main{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 4;
}

.bg-picture,img{ 
    width: 100%;
}

.home-page-container{
    width: 100%;
    max-height: 100vh;
}

.map{
    position: relative;
    z-index: -1;
}

@media (max-width: 600px) {
    main{
        top: 35%;
    }
}